{% extends "inicio.html" %}

{% block titulo %}
Entrega Final - {{request.user}}
{% endblock titulo %}

{% block header %}
<h1 >Configuracion del perfil de {{request.user.username}}</h1>
{% endblock header %}


{% block listado %}
{% load static %}

    <ul>
        <li>Avatar:</li>
        {% if request.user.datosextras.avatar %}
        <img src="{{ request.user.datosextras.avatar.url }}" alt="" height="175px">
        {% else %}
        <img src={% static 'assets/img/images.jpeg' %} alt="" height="100px">
        {% endif %}

        <li>Nombre: {{request.user.first_name}}</li>
        <li>Apellido: {{request.user.last_name}}</li>
        <li>Email: {{request.user.email}}</li>
        <li>Fecha de ingreso del vendedor: {{request.user.datosextras.fecha_ingreso}}</li>


    </ul>
    <a class="btn btn-secondary" href={% url "editar_perfil" %}>Editar perfil</a>
    <a class="btn btn-secondary" href={% url "editar_contraseña" %}>Editar contraseña</a>


{% endblock listado %}

