{% extends "inicio.html" %}
{% load static %}
{% block titulo %}
Entrega Final - Sobre Mi
{% endblock titulo %}

{% block header %}

{% endblock header %}


{% block listado %}
<h1>Sobre mi</h1>
<div style="display: flex; align-items: center;">
    
    <img src="{% static 'assets/img/foto4x4.jpg' %}" alt="" height="220px">
    <p >Hola! Mi nombre es Mateo Insaurralde, tengo 21 años y vivo en Tierra del Fuego.
        Estudio una tecnicatura en programación, en la cual llevo un año cursado en el que eh visto C++ y Java.
        Me encanta la programación y este curso me ayudó mucho a aprender sobre nuevos lenguajes, tanto el propio Python
        como tambien un poco de html, me da mucha motivacion a seguir aprendiendo!</p>

</div>

{% endblock listado %}
